
/* RESET */
@import url(reset.css);

body{
    font-family: 'Montserrat', sans-serif;
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

/* HEADER */
.header{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 30px;
    margin: 20px 20px 0 20px;
    background-color: #fff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.header__title span:first-child{
    color: #3B4371;
}
.header__title span:last-child{
    color: #F3904F;
}
.header__nav{
    display: flex;
    align-items: center;
}
.header__nav-burger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    /* background-color: #3B4371; */
    
}
.header__nav-burger div{
    position: absolute;
    /* top: 0; */
    width: 25px;
    height: 3px;
    background-color: #3B4371;
    
}
.header__nav-burger div:before{
    position: absolute;
    content: "";
    bottom: 7px;
    width: 25px;
    height: 3px;
    background-color: #3B4371;
    transition: all ease-in-out .3s;

}
.header__nav-burger div:after{
    position: absolute;
    content: "";
    top: 7px;
    width: 25px;
    height: 3px;
    background-color: #3B4371;
    transition: all ease-in-out .3s;

}
.header__nav-burger.active div{
    background-color: transparent;
}
.header__nav-burger.active div:after{
    top: 0;
    transform: rotate(45deg);
    transition: all ease-in-out .3s;
}
.header__nav-burger.active div:before{
    transform: rotate(-45deg);
    bottom: 0;
    transition: all ease-in-out .3s;
}
.header .header__nav-list{
    display: none;
    /* display: flex; */
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
.header .header__nav-list.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 55px;
    right: 0px;
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 10;
    padding: 10px 0;
}
.header__nav-list li{
    list-style: none;
}
.header__nav-list li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all ease-in-out .3s;
}
.header__nav-list li a:hover{
    color: #F3904F;
    
}
/* /HEADER */

/* MAIN */
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin: 0 20px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
/* /MAIN */

/* ABOUT */
.main__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100vh; */
    height: 80vh;
}
.main__about-title{
    color: #3B4371;
    font-size: 40px;
}
.main__about-avatar{
    margin: 20px 0;
}
.main__about-subtitle{
    font-weight: 500;
    /* letter-spacing: 1px; */
    line-height: 35px;
}
/* /ABOUT */
.outer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 0;
    width: 80%;
    height: 70vh;
}
/* CONTACT */
.outer .main__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    /* align-items: center; */
}
.main__contact .main__contact-title{
    color: #F3904F;
    font-size: 40px;
    margin-bottom: 20px;
}
.main__contact .main__contact-address{
    height: 100%;
}
.main__contact .main__contact-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
    margin: 0;
    padding: 0;
}
.main__contact .main__contact-item{
    list-style: none;
}
.main__contact .main__contact-item b{
    color: black;
}
.main__contact .main__contact-item:nth-child(3){
    color: #3B4371;
}
.main__contact .main__contact-item a{
    text-decoration: none;
    color: #3B4371;
    font-weight: 400;
}
/* /CONTACT */

/* SKILLS */
.main__skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__skills .main__skills-title{
    color: #F3904F;
    font-size: 40px;
    margin-bottom: 20px;
}
.main__skills .main__skills-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
    margin: 0;
    padding: 0;
}
.main__skills .main__skills-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
}
.main__skills .main__skills-item span{
    margin: 0 5px;
} 
/* /SKILLS */

/* EXPERIENCE */
.main__experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    margin: 0 0 20px 0;
}
.main__experience .main__experience-title{
    color: #3B4371;
    font-size: 40px;
    margin-bottom: 20px;
}
.main__experience .main__experience-table{
    /* width: 100%; */
}

/* FORM */
.main__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.main__form .main__form-title{
    color: #F3904F;
    font-size: 40px;
    margin-bottom: 20px;
}
.main__form .col .row{
    padding-left: 0;
}
.main__form .btn{
    background-color: #3B4371;
    color: #fff;
    transition: all .2s ease-in-out;
}
.main__form .btn:hover{
    filter: brightness(0.7);
    
}

/* FOOTER */
.footer{
    text-align: center;
    background-color: #fff;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    border-radius: 20px;
}

@media (min-width: 576px) { 
    .header{
        flex-direction: column;
    }
    .header .header__nav-list{
        margin-top: 10px;
        padding-left: 0;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .outer{
        flex-direction: row;
        height: auto;
    }
    .main__contact{
        /* width: 50vh; */
        margin-left: 75px;
    }
    .main__skills{
        width: 50vh;
    }
 }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .main__about{
        width: 100vh;
    }
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }
