

.main{
    height: 100%;
}
/* HEADER */
.events__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 20px;
    
}
.events__header .events__nav{
    border: 2px solid rgba(169, 169, 169, 0.281);
    background-color: #fff;
    border-radius: 100px;

}
.events__header .events__nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    list-style: none;
    cursor: pointer;
    margin: 2px 2px;
    padding: 0;
    /* width: 100%; */
}
.events__header .events__nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    height: 100%;
    border-radius: 100px;
    transition: background-color .3s linear;
}
.events__header .events__nav-list .active{
    background-color: rgba(144, 163, 112, 0.288);
}
.events__header .events__nav-item:hover{
    background-color: rgba(144, 163, 112, 0.288);
}
.events__header .events__nav-item__link{
    color: black;
    text-decoration: none;
}


/* MAIN */
.events__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.events__main .article__category-name{
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 30;
    padding: 5px 10px;

    font-size: 1.5rem;
    background-color: #fff;
    /* background-color: rgba(144, 163, 112, 0.486); */
    border-radius: 80px; 
}
.events__main .article__category-name .category-name{
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.781);
    margin: 0;
}
.events__main  a{
    text-decoration: none;
}
.events__main .main__article{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    margin: 10px 0 50px 0;
    /* border-bottom-right-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
    transition: all .3s linear;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
}
.events__main .main__article:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 40px 0 rgb(113 114 236 / 15%);
}

.events__main .article__link-img{
    flex: 2;
    height: 70vh;
    
}
.events__main .article__img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.events__main .article__content{
    flex: 1;
    padding: 0 30px 0 0;
}
.events__main .article__header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: .7rem;
    margin: 10px 0;
}
.events__main .article__header-tag{
    background-color: rgba(1, 5, 5, 0.164);
    padding: 5px 10px;
    border-radius: 100px;
    text-transform: uppercase;
}
.events__main .article__header-date{
    color: rgba(93, 98, 104, 0.678);
}
.events__main .article__text-title{
    text-decoration: none;
    color: black;
}
.events__main .article__text-subtitle{
    text-decoration: none;
    color: rgb(48, 44, 44);
}
.events__main .article__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.events__main .article__author{
    margin: 0;
}
.events__main .article__author>a{
    color: rgba(93, 98, 104, 0.678);
}
.events__main .article__comments{
    color: rgba(93, 98, 104, 0.678);
}
.events__main .article__comments-counter{
    color: rgb(126, 155, 130);
}

/* events main items */
.events__main .article__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}


.events__main .article__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    flex: 1;
    position: relative;
    min-width: 30%;
    max-width: 45%;
    min-height: 480px;
    margin: 0 0 20px 0;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 10%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .3s linear;
    /* transition: box-shadow .3s linear; */
}
.events__main .article__card:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 40px 0 rgb(113 114 236 / 15%);
}
.events__main .article-card__content{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.events__main .article__card-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    max-height: 200px;
}
.events__main .aricle__card-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px 0 0 0;
}
.events__main .card-tags__item{
    background-color: rgba(1, 5, 5, 0.164);
    padding: 5px 10px;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 12px;
}
.events__main .article__content-date{
    align-self: flex-start;
    color: rgba(93, 98, 104, 0.678);
    font-size: 12px;
}
.events__main .article__content-title{
    font-size: 1.3rem;
}
.events__main .article__content-link{
    text-decoration: none;
    color: black;
}
.events__main .article__content-footer{
    display: flex;
    justify-content: space-between;
}

.events__main .events__main-btn{
    border: 2px solid rgba(112, 112, 112, 0.281);
    border-radius: 100px;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #fff;
    transition: background-color .3s linear;
}
.events__main .events__main-btn:hover{
    background-color: rgba(144, 163, 112, 0.288)
}

/* Style for sort */
.events__header .btn{
    background-color: rgba(144, 163, 112, 0.288);
    border: none;
    color: black;
    border-radius: 100px;
}
.events__header .btn:hover{
    background-color: rgba(144, 163, 112, 0.733);
    color: black;
}
.events__header .form-select{
    border-radius: 100px;
    border-width: 2px;
}
/* //// */

.pagination > li{
    margin: 1px;
    border-radius: 100px;
}
.pagination .page-item.active .page-link{
    background-color: rgb(156, 175, 156);
    border: none;
    border-radius: 10px !important;
    transition: all .3s linear;
}
.pagination > li > a{
    color: black;
    border-radius: 100px;
}
.page-item:last-child .page-link {
    border-radius: 100px !important;
}
.page-item:first-child .page-link{
    border-radius: 100px !important;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #f5f1f1;
    background-color: rgb(120, 155, 128);
    border-color: rgb(145, 167, 139);
    transition: all .3s linear;
}