.tourism__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tourism__title{
    justify-self: flex-end;
    align-self: flex-start;
    font-size: 3rem;
}
.tourism__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2px;
    width: 100%;
    align-items: center;
    padding-left: 0;
}
.tourism__list .tourism__list-item{
    display: flex;
    flex-grow: 1;
    
    align-items: center;
    list-style: none;
    border: 1px solid black;
    border-radius: 3%;
}
.tourism__list .tourism__list-item .active{
    background-color: rgb(76, 117, 76);
    color: white;
    
}
.tourism__list .tourism__list-item__link{
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}
.section-title{
    align-self: flex-start;
}
.tourism__attraction .tourism__content-outer{
    display: grid;
    gap: 5px;
    justify-content: center;
}
.tourism__attraction .tourism__content-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.tourism__attraction .tourism__content-item:nth-child(1){
    border: 1px solid black;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.tourism__attraction .tourism__content-item:nth-child(2){
    border: 1px solid black;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
.tourism__attraction .tourism__content-item:nth-child(3){
    border: 1px solid black;
    /* grid-column: 3 / 4;
    grid-row: 3 / 5; */
}
.tourism__attraction .tourism__content-item:nth-child(4){
    border: 1px solid black;
    /* grid-column: 3 / 4;
    grid-row: 3 / 5; */
}
.tourism__attraction .tourism__content-item:nth-child(5){
    border: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}
.tourism__attraction .tourism__content-item:nth-child(6){
    border: 1px solid black;
    /* grid-column: 3 / 4;
    grid-row: 3 / 5; */
}

/* .tourism__accommodation{
    
}  */
.tourism__accommodation .tourism__accommodation-outer{
    display: flex;
    
    gap: 8px;
    width: 100%;
}
.tourism__accommodation .tourism__accommodation-item{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    /* flex-basis: 1; */
    justify-content: center;
    align-items: flex-end;
    min-width: 150px;
    min-height: 300px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px black solid;
    transition: transform .3s linear;
}

.tourism__accommodation .tourism__accommodation-item:hover{
    opacity: .8;
    transform: scale(1.05);
    color: black;
}
.tourism__accommodation .tourism__accommodation-item__img{
    height: 100%;
    width: 100%;
}

.tourism__activities .tourism__activities-outer{
    display: flex;
    
    gap: 8px;
    width: 100%;
}

.tourism__activities .tourism__activities-item{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    /* flex-basis: 1; */
    justify-content: center;
    align-items: flex-end;
    min-width: 150px;
    min-height: 200px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px black solid;
    transition: transform .3s linear;
}
.tourism__rules{
    display: flex;
    align-items: flex-start;
}
.tourism__rules-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.tourism__rules .tourism__rules-item__title{
    margin: 10px 0 10px 0;
    text-decoration: underline;
}
